body{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor{
    display: flex;
    width: 90vw;
    max-width: 90vw;
}

.tarjeta{
    background-position: center;
    color: #fff;
    width: 7vw;
    height: 80vh;
    margin: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: all 500ms ease-in;
}

.tarjeta img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tarjeta h3{
    position: absolute;
    bottom: 10px;
    left: 20px;
    opacity: 0;
}

.tarjeta.active h3 {
    padding: 5px;
    opacity: 1;
    background-color: #00000059;
    border-radius: 5px;
}

.tarjeta.active {
    width: 80vw;
}
